[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
prometheus-client = "*"
twilio = "*"
python-dotenv = "*"
ibm-watson = "*"
beautifulsoup4 = "*"
lxml = "*"
ibm-db = "*"
sqlalchemy = "*"
ibm-db-sa = "*"

[dev-packages]

[requires]
python_version = "3.8"
